main {
    background-color: lightblue
}

.form-style {
    margin: 10px
}

.container {
    text-align: center;
}

.container h1 {
    margin-bottom: 25px;
}

.login button {
    margin-bottom: 25px
}

.signup {
    display: flex;
    flex-direction: column;

    padding: 20px;
    max-width: 400px;
    margin: 0 auto;

}

.signup input[type="text"],
.signup input[type="password"],
.signup input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

/* .input-group {
    width: 100%
} */