/* Style for main */

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.container {
    text-align: center;
    margin-bottom: 10px;
}

.container h1 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.button {
    background-color: #ea4040;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #c63737;
}

.booking-button {
    background-color: #0b0a0a;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

/* Style for Hero Image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../../media/images/hero_image.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 20px;

}

#hero-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* section style */

section {
    padding: 20px;
    background-color: #f7f7f7;
}

section img {
    margin-top: 20px;
    max-width: 100%;
    max-height: 400px;
}



/* Style for forms */
.form-style {
    margin: 10px
}

.login button {
    margin-bottom: 25px
}

.signup {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;

}

.signup input[type="text"],
.signup input[type="password"],
.signup input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}


/* Style tables */

.center-table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}

th,
td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #ea4040;
}


/* footer style */

footer {
    position: relative;
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.social-links a:hover {
    background-color: #4267b2;
}