/* Style for main */

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.container {
    text-align: center;
    margin: 20px auto;
}

.container h1 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.button {
    background-color: #ea4040;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #c63737;
}

.booking-button {
    background-color: #0b0a0a;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}


/* style for navbar */

.navbar-nav .welcome-item {
    color: white;
    font-size: 18px;
    padding-right: 20px;
    align-items: center;
}

.navbar-nav {
    align-items: center;
}

.navbar-toggler-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for Hero Image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url("https://res.cloudinary.com/dbagkfamv/image/upload/v1691609211/static/images/hero_image.47b620584fa1.jpg") no-repeat center center;
    background-size: cover;
    background-size: cover;
    margin-bottom: 20px;

}

#hero-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* section style */

section {
    padding: 20px;
    background-color: #f7f7f7;
}

section img {
    margin-top: 20px;
    max-width: 100%;
    max-height: 400px;
}



/* Style for forms */
.form-style {
    margin: 10px
}

.login button {
    margin-bottom: 25px
}

.signup {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;

}

.signup input[type="text"],
.signup input[type="password"],
.signup input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}


/* Style tables */

.booking-table-container {
    display: flex;
    justify-content: center;
}

/* .center-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
} */

table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}

th,
td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #ea4040;
}


/* footer style */

footer {
    position: relative;
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.social-links a:hover {
    background-color: #4267b2;
}

/* media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width:1200px) {
    main {
        padding: 30px;
    }

    .container h1 {
        font-size: 28px;
    }

    .button {
        font-size: 16px;
    }
}

/* Medium screen sizes from 950px wide and down */
@media screen and (max-width:950px) {
    main {
        padding: 30px;
    }

    .container h1 {
        font-size: 24px;
    }

    .button {
        font-size: 14px;
    }

    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 5px;
    }

}