{% extends "base.html" %} {% block content %}

<h1>Booking Confirmation</h1>

<div>
  <table class="center-table">
    <thread>
      <tr>
        <th>Trip Booked</th>
        <th>Seats Booked</th>
        <th>Total Cost</th>
      </tr>

      <tr></tr>
    </thread>
    <tbody>
      <tr>
        <td>{{ booking.trip_booked }}</td>
        <td>{{ booking.seats_required }}</td>
        <td>£{{ total_cost }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <a href="{% url 'editbooking' booking.id %}">
    <button class="booking-button" aria-label="Edit Booking">Edit</button>
  </a>
</div>
<div>
  <a href="{% url 'deletebooking' booking.id %}">
    <button class="booking-button" aria-label="Delete booking">Delete</button>
  </a>
</div>

{% endblock %}
