{% extends "base.html" %} {% block content %}

<div class="container">
  <h1>Manchester United Supporters Away Travel Company</h1>

<section id="hero-outer">
    <div id="hero-image"></div>
        <h2>Domestic and European Away Travel</h2>
    </div>
</section>

  <table class="center-table">
    <thread>
      <tr>
        <th>Trip ID</th>
        <th>Trip Name</th>
        <th>Seats</th>
        <th>Remaining Seats</th>
        <th>Price (£)</th>
      </tr>

      <tr></tr
    ></thread>
    <tbody>
      {% for trip in trip_list %}
      <tr>
        <td>{{ trip.trip_id}}</td>
        <td>{{ trip.trip_name}}</td>
        <td>{{ trip.seats}}</td>
        <td>{{ trip.remaining_seats}}</td>
        <td>£ {{ trip.price}} per seat</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
