<!-- This is where a user can view, edit and delete their bookings -->
{% extends "base.html" %} {% block content %}

<h2>My bookings!!!</h2>

<a href="{% url 'addnewbooking' %}">New Booking</a>

<table>
  <thread>
    <tr>
      <th>Trip Booked</th>
      <th>Comments</th>
      <th>Seats</th>
      <th>Remaining Seats</th>
      <th>Price</th>
    </tr>

    <tr></tr>
  </thread>
  <tbody>
    {% for booking in user.booking_set.all %}
    <tr>
      <td>{{ booking.trip_booked }}</td>
      <td>{{ booking.comment }}</td>
      <td>
        <a href="{% url 'editbooking' booking.id %}">
          <button>Edit</button>
        </a>
      </td>
      <td>
        <a href="">
          <button>Delete</button>
        </a>
      </td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
