{% extends "base.html" %} {% block content %} {% block custom_styles %}

<h2>My Bookings</h2>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Trip Booked</th>
        <th>Date</th>
        <th>Comments</th>
        <th>Seats Required</th>
        <th>Total Cost</th>
        <th>Edit Booking</th>
        <th>Delete Booking</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in user.booking_set.all %}
      <tr>
        <td>{{ booking.trip_booked.trip_name }}</td>
        <td>{{booking.date }}</td>
        <td>{{ booking.comment }}</td>
        <td>{{ booking.seats_required }}</td>
        <td>£{{ booking.total_cost }}</td>
        <td>
          <a href="{% url 'editbooking' booking.id %}" class="btn btn-dark btn-rounded">Edit</a>
        </td>
        <td>
          <a href="{% url 'deletebooking' booking.id %}" class="btn btn-dark btn-rounded">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock custom_styles %}
{% endblock %}
